In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Open the unemployment dataset
unemployment = pd.read_csv('../data/cleaned_country_totals.csv')
# This is some formatting that's out of scope
unemployment['date'] = pd.to_datetime(unemployment['date'])

# Open the countries dataset
countries_url = 'https://raw.githubusercontent.com/dlab-berkeley/Python-Data-Wrangling/main/data/countries.csv'
countries = pd.read_csv(countries_url)

In [3]:
unemployment = unemployment.dropna(subset="unemployment_rate")

## ðŸ¥Š Challenge 5
Let's use sorting to answer a practical question:  

<span style="color:purple">Which country has the highest unemployment rate in our data?  
</span>
<details><summary><a>Click for hint</a></summary>
1. Use <code>.sort_values()</code> to sort this data based on the unemployment rate using descending order<br>
2. Select the top row using <code>.head()</code> with an argument for number of rows<br>
</details>

In [4]:
# YOUR CODE HERE

unemployment.sort_values(by='unemployment_rate', ascending=False).head(1)

,country,seasonality,year_month,unemployment,unemployment_rate,date,year,month
1887,es,sa,2010.09,4773000,20.6,2010-09-01,2010,9

In [5]:
unemployment_merged = pd.merge(unemployment, countries, on='country')

## ðŸ¥Š Challenge 6
Try using `.value_counts()` on the `missing_data` DataFrame to find out how many observations are from EU versus non-EU records

In [6]:
### YOUR CODE HERE

unemployment_merged['country_group'].value_counts()

eu        5812
non-eu     304
Name: country_group, dtype: int64


## ðŸ¥Š Challenge 7

Use `.groupby()` to find the maximum unemployment rate for each country. Sort your results from largest to smallest.
Use the example above for guidance.
<details><summary><a>Click for hint</a></summary>
1. First, use <code>groupby()</code> to group on "name_en". <br>
2. Then, select the "unemployment_rate" column,<br>
3. Aggregate by using <code>.max()</code> to get the max value.<br>
4. Chain on the method <code>.sort_values(ascending=False)</code>.
</details>

In [7]:
# YOUR CODE HERE

unemployment_merged.groupby('name_en')['unemployment_rate'].max().sort_values(ascending=False)

name_en
Spain                                        20.6
Poland                                       20.3
Latvia                                       20.0
Bulgaria                                     19.8
Slovakia                                     19.6
Estonia                                      19.0
Lithuania                                    18.3
Finland                                      17.6
Ireland                                      17.1
Turkey                                       13.2
Greece                                       12.9
France                                       11.8
Hungary                                      11.7
Italy                                        11.5
United Kingdom                               11.3
Portugal                                     11.1
Belgium                                      11.0
Germany (including  former GDR from 1991)    10.8
Sweden                                       10.5
Denmark                                       9.9
Czech Republic                                9.1
Romania                                       9.0
Netherlands                                   8.3
Malta                                         8.0
Slovenia                                      7.8
Cyprus                                        7.3
Norway                                        6.8
Luxembourg                                    5.4
Austria                                       5.4
Name: unemployment_rate, dtype: float64