# Python Data Wrangling with `pandas`: Part 1
* * * 
<div class="alert alert-success">  
    
### Learning Objectives 
    
* Gain familiarity with `pandas` and the core `DataFrame` object
* Apply core data wrangling techniques in `pandas`
* Understand the flexibility of the `pandas` library
</div>

### Icons Used in This Notebook
üîî **Question**: A quick question to help you understand what's going on.<br>
ü•ä **Challenge**: Interactive exercise. We'll work through these in the workshop!<br>
üí° **Tip**: How to do something a bit more efficiently or effectively.<br>
‚ö†Ô∏è **Warning:** Heads-up about tricky stuff or common mistakes.<br>
üé¨ **Demo**: Showing off something more advanced ‚Äì so you know what `pandas` can be used for!<br>

### Sections
1. [The `DataFrame` Object](#dataframe)
2. [Indexing Data](#indexing)
3. [Boolean Indexing](#boolean)
4. [üé¨ Demo: Boolean Indexing with multiple conditions](#demo)

# This Workshop
In this workshop, we provide an introduction to **data wrangling with Python**. We will be using the `pandas` package, which provides a rich set of tools for manipulating data.

We'll use worked examples and practice on real data to learn the core techniques of data wrangling -- how to index, manipulate, merge, group, and plot data -- in `pandas`. 

Let's get started.

<a id='dataframe'></a>
# The `DataFrame` object

`pandas` is designed to make it easy to work with structured, tabular data. Many of the analyses you might typically perform involve using tabular data, i.e. .csv files, excel files, extracts from relational databases, etc. `pandas` represents this data as a DataFrame object -- we'll see what this looks like in a moment.
## Importing and Viewing Data
We are going to work with European unemployment data from Eurostat, which is[ hosted by Google](https://code.google.com/p/dspl/downloads/list). There are several `.csv` files related to this topic that we'll work with in this workshop, all of which are related to unemployment rates in European countries.

Let's begin by importing `pandas` using the conventional `pd` abbreviation.

In [1]:
# Imports pandas and assign it to the variable `pd`
import pandas as pd

# We often import NumPy (numerical python) with pandas
# we will import that and assign it to the variable `np`
import numpy as np

# Load matplotlib for plotting later in the workshop
import matplotlib.pyplot as plt
%matplotlib inline

`pandas` has a `read_csv()` function that allows us to easily import tabular data. The function returns a `DataFrame` object, which is the main object `pandas` uses to represent tabular data.

Notice that we call `read_csv()` using the `pd` abbreviation from the import statement above:

In [2]:
unemployment = pd.read_csv('../data/country_total.csv')

Let's run `type()` on the `unemployment` object and see what it is...

In [3]:
type(unemployment)

pandas.core.frame.DataFrame

Great! You've created a `pandas` `DataFrame`. We can look at our data by using the `.head()` method. By default, this shows the header (column names) and the first **five** rows.

In [4]:
unemployment.head()

  country seasonality    month  unemployment  unemployment_rate
0      at         nsa  1993.01        171000                4.5
1      at         nsa  1993.02        175000                4.6
2      at         nsa  1993.03        166000                4.4
3      at         nsa  1993.04        157000                4.1
4      at         nsa  1993.05        147000                3.9

üí° **Tip**: If you'd like to see some other number of rows, you can pass an integer to `.head()` to return that many rows. For example `unemployment.head(6)` would return the first six rows.

To find the number of rows, you can use the `.shape` attribute, which returns a [tuple](https://www.w3schools.com/python/python_tuples.asp): `(number of rows, number of columns)`

In [5]:
unemployment.shape

(20796, 5)

To find out exactly what all of your columns are, you can use the `.columns` attribute.

In [6]:
unemployment.columns

Index(['country', 'seasonality', 'month', 'unemployment', 'unemployment_rate'], dtype='object')

To find out what kinds of data we have, we use the `.dtypes` attribute, which tells us which columns contain numerical data (e.g. `float64` or `int64` types) and which ones contain text (e.g. `object` types)

In [7]:
unemployment.dtypes

country               object
seasonality           object
month                float64
unemployment           int64
unemployment_rate    float64
dtype: object

## Looking up functions
A useful method that generates various summary statistics is `.describe()`. This is a powerful method that will return a lot of information, so before we run it, let's look up exactly what it does.

üí° **Tip**: The [`pandas` documentation](http://pandas.pydata.org/pandas-docs/stable/) contains exhaustive information on every function, object, etc. in `pandas`. It can be a little difficult to navigate on its own, so it's typical to interact with the documentation primarily through Google searches.  

The following is a general worflow for learning about a function in `pandas`:
1. Google the `pandas` function, e.g. "pandas {insert function name}"
2. Find a result from pandas.pydata.org (the pandas documentation)
3. Read the summary of what the function does (at the top of the page), examine its arguments and what it returns.

<span color="purple">üîî **Question:** Before running the following code, try using the general workflow detailed above to find out what `.describe()` returns. </span>

In [8]:
unemployment.describe()

              month  unemployment  unemployment_rate
count  20796.000000  2.079600e+04       19851.000000
mean    1999.401290  7.900818e+05           8.179764
std        7.483751  1.015280e+06           3.922533
min     1983.010000  2.000000e+03           1.100000
25%     1994.090000  1.400000e+05           5.200000
50%     2001.010000  3.100000e+05           7.600000
75%     2006.010000  1.262250e+06          10.000000
max     2010.120000  4.773000e+06          20.900000

‚ö†Ô∏è **Warning**: `.describe()` will behave differently depending on your data's types, or, `dtype`s. If your `DataFrame` includes both numeric and object (e.g., strings) `dtype`s, it will default to **summarizing only the numeric data** (as shown above). If `.describe()` is called on a `DataFrame` that only contains strings, it will return the count, number of unique values, and the most frequent value along with its count.

## ü•ä Challenge 1
**Setup**  
We previously imported unemployment data into `pandas` using the `read_csv` function and a relative file path. `read_csv` also allows us to import data using a URL as the file path. 

A .csv file with data on world countries and their abbreviations is located at the following URL:

[https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv](https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv)

We can load that data directly as follows:

In [9]:
countries_url = 'https://raw.githubusercontent.com/dlab-berkeley/Python-Data-Wrangling/main/data/countries.csv'
countries = pd.read_csv(countries_url)

In [10]:
countries.head()

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,√ñsterreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682

**Challenge**  
Whenever we open a new DataFrame, it's important to get a basic understanding of its structure.

Using the methods and attributes we just discussed, **answer the following questions** about `countries`:

1. What columns does `countries` contain?
2. How many rows and columns does it contain?
3. What are the minimum and maximum values of the columns with numerical data?

<details><summary><a>Click for hint</a></summary>
Hint: consider using <code>.columns</code>, <code>.shape</code>, and <code>.describe()</code> here.
</details>

In [13]:
# YOUR CODE HERE
list(countries.columns)
#countries.columns

['country',
 'google_country_code',
 'country_group',
 'name_en',
 'name_fr',
 'name_de',
 'latitude',
 'longitude']

In [15]:
# YOUR CODE HERE
list(countries.shape)
countries.shape

(30, 8)

In [16]:
# YOUR CODE HERE
countries.describe()

        latitude  longitude
count  30.000000  30.000000
mean   49.092609  14.324579
std     7.956624  11.257010
min    35.129141  -8.239122
25%    43.230916   6.979186
50%    49.238087  14.941462
75%    54.090400  23.351690
max    64.950159  35.439795

<a id='indexing'></a>
# Indexing Data
Wrangling data in a DataFrame often requires extracting specific rows and/or columns of interest. This is referred to as **Indexing**. We've actually already learned a simple way to index our data using `.head()`, which isolated the first five rows of our data. Now, we'll learn more flexible and powerful methods for indexing.

## Recall basic Python indexing
To index (this is synonymous with other verbs like "subset," "slice," etc.) data in Python, we use bracket notation: `[]`. Run the following code to instantiate a list of numbers and observe what different indexes return:

In [17]:
my_list = [1, 2, 3, 4, 5, 6]

In [18]:
my_list

[1, 2, 3, 4, 5, 6]

In [19]:
my_list[:4]

[1, 2, 3, 4]

In [20]:
my_list[0]

1

In [21]:
my_list[2:]

[3, 4, 5, 6]


Indexing works very similarly in `pandas` as it does in standard python, but with a few key differences. In `pandas`, indexing relies on referencing a DataFrame's rows and then its columns <span>&#8594;</span> `[rows, columns]`. Let's get a more visual sense of this -- in the `countries` DataFrame that we created earlier, the structure of the data is as follows:  

<img src="../images/df_diagram.svg" align="left" width="500" alt="diagram of pandas datafram">

To index and get to specific data from this DataFrame, we select a row/column combination.  
For example, indexing row 3 and the column `google_country_code` would give us the value 'HR'. In code, that would look as follows:  
`countries.loc[3, 'google_country_code']`  
Try writing that in the cell below and running it.

In [23]:
# YOUR CODE HERE
countries.loc[3, 'google_country_code']
countries.loc[2, 'google_country_code']

'BG'

## `.loc`
Let's go deeper into what `.loc` does, as this will be the primary tool we use for indexing.  

`.loc` allows us to index data based on the labels of our DataFrame's index and its column names. Let's take a look at its behavior below:

In [25]:
countries.loc[:4, :]
countries.loc[:3, :]

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,√ñsterreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844

The code, `countries.loc[:4, :]` executes the following:  
- <code>countries.loc[<mark style="background: yellow">**:4**</mark>, :]</code> <span>&#8594;</span> Select rows up to index 4
- <code>countries.loc[:4,<mark style="background: yellow"> **:**</mark>]</code> <span>&#8594;</span>
 Select all columns

This format allows us to flexibly select ranges of rows and columns at the same time. Consider this more complex example:

In [26]:
countries.head()

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,√ñsterreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682

In [27]:
countries.loc[2:4, 'name_en']

2    Bulgaria
3     Croatia
4      Cyprus
Name: name_en, dtype: object

This code executed the following:  
- <code>countries.loc[<mark style="background: yellow">**2:4**</mark>, 'name_en']</code> -> Select rows from index 2 up to index 4 
- <code>countries.loc[2:4, <mark style="background: yellow">**'name_en'**</mark>]</code> -> Select the `name_en` column

üí° **Tip**: Note that the output of this code looks different from our previous output! Because we selected a single column, our code returned a `Series` object.

In [28]:
type(countries.loc[2:4, 'name_en'])

pandas.core.series.Series

Let's look at one more example of `.loc`.  
üîî **Question:** Before running the following code block, can you anticipate what it will output?

In [29]:
countries.columns

Index(['country', 'google_country_code', 'country_group', 'name_en', 'name_fr',
       'name_de', 'latitude', 'longitude'],
      dtype='object')

In [30]:
countries.loc[19:29, ['name_en', 'longitude']]

           name_en  longitude
19     Netherlands   5.330198
20          Norway  12.665766
21          Poland  19.134334
22        Portugal  -7.844941
23         Romania  24.990152
24        Slovakia  19.700032
25        Slovenia  14.986617
26           Spain  -2.988296
27          Sweden  14.896307
28          Turkey  35.439795
29  United Kingdom  -2.232612

## ü•ä Challenge 2: Indexing with `.loc`

Let's get a little practice with the `.loc` operator.  

<span style="color:purple">Select rows 10 through 20, then compute their average `latitude` </span>
<details>
    <summary><a>Click for Hint</a></summary>
    This can be done using <code>`.loc`</code> and <code>`.mean()`</code>, all in one line of code: <code>countries.loc[{your row selection}, {your column selection}].mean()</code>
</details>

In [33]:
# YOUR CODE HERE
countries.loc[10:20, 'latitude'].mean()
countries.loc[10:20, 'latitude'].mean()

49.852639057272725

## Positional Indexing
`.loc` is a very powerful indexing system that can handle almost any indexing task you can imagine. However, as is typical in `pandas`, there is more than one way to get what you're looking for. 

When we are executing very simple indexing tasks, such as selecting a column, it is common to use the more succinct **positional indexing** system. Positional indexing allows us to omit `.loc`, but only allows us to select a row **OR** column index, whereas most of the indexing we just did using `.loc` involved both row **AND** column indices.

In [34]:
# This will work
countries.loc[1:5, 'latitude']

1    50.501045
2    42.725674
3    44.746643
4    35.129141
5    49.803531
Name: latitude, dtype: float64

Try running the following code -- it will throw an error. You can "comment out" (put a # before the code) the first statement and "un-comment" (remove the # before the code) the second statement to see how `.loc` fixes the error.

In [41]:
# this won't work
countries.loc[0:2, 'latitude']

# this will work
# countries.loc[0, 'latitude']

0    47.696554
1    50.501045
2    42.725674
Name: latitude, dtype: float64

## `iloc`

Another widely used alternative to `.loc` is `.iloc`. **We recommend sticking to `.loc` while learning `pandas`**.

<a id='boolean'></a>
# Boolean Indexing
Now that we've covered the basics of indexing, let's get into an extremely powerful extension -- "**boolean indexing**." Boolean indexing refers to filtering data based on some logical test. The `pandas` implementation of boolean indexing can be a little jarring at first, so let's build up to it from scratch. First, recall how booleans and logical tests work in standard python:

In [42]:
"D-Lab" == "D-Lab"

True

In [43]:
"D-Lab" == "H-Lab"

False

In [44]:
7 > 7

False

We will use that same style of logical test in `pandas` to execute boolean indexing.   

## Example: find countries outside the EU
Notice in the `countries` dataframe pictured below that we have a column, `country_group`, that tells us whether or not a country is in the European Union (EU). We're going to do a boolean indexing example on these first five rows.  
<img src="../images/df_diagram.svg" align="left" width="500" alt="diagram of pandas datafram">

In [45]:
# Create a smaller test dataframe
# to show how boolean indexing works
test = countries.loc[:5, :]

In [46]:
test

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,√ñsterreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682
5,cz,CZ,eu,Czech Republic,R√©publique tch√®que,Tschechische Republik,49.803531,15.474998

Let's use that column to filter our data down to only countries outside of the European Union. The steps are as follows:
1. Select the column we will use as a filter: `test['country_group']` or `test.loc[:, 'country_group']`

In [47]:
test['country_group']

0        eu
1        eu
2        eu
3    non-eu
4        eu
5        eu
Name: country_group, dtype: object

2. Determine which rows in that column are equal to "non-eu" -- which denotes that the country is outside the European Union: `test['country_group'] == 'non-eu'`. The output of this code is what's called a **boolean mask**.

In [48]:
test['country_group'] == 'non-eu'

0    False
1    False
2    False
3     True
4    False
5    False
Name: country_group, dtype: bool

3. Use the boolean mask to index only those rows that satisfied the test: `test[test['country_group'] == 'non-eu']`

In [53]:
test[test['country_group'] == 'non-eu']
test.loc[2]['country_group'] == 'non-eu'

False

And that's boolean indexing! We used a test for equality (`countries['country_group'] == 'non-eu'`), but we can use a variety of different tests and conditions to index our data.

For example, we might want to find those countries with a longitude greater than some threshold, such as 25 (note that we will go back to using the full `countries` DataFrame now):

In [55]:
countries[countries['longitude'] > 25]
countries[countries['longitude']>25]

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682
7,ee,EE,eu,Estonia,Estonie,Estland,58.592469,25.806950
8,fi,FI,eu,Finland,Finlande,Finnland,64.950159,26.067564
28,tr,TR,non-eu,Turkey,Turquie,T√ºrkei,38.952942,35.439795

## ü•ä Challenge 3: Boolean Indexing

Let's push our boolean indexing skills a little further with a challenge problem.
1. Find the average longitude of countries in our data, assign it to the variable `average_long`
2. Find countries that have "above average" longitude
<details>
    <summary><a>Click for Hint</a></summary>
    Compute the average longitude of the data: <code>countries['longitude'].mean()</code> and save that to a variable <code>average_long</code>. Then, you can use that variable to create a boolean mask for indexing: <code>countries['longitude'] > average_long</code>
</details>

In [61]:
# YOUR CODE HERE
average_long = countries['longitude'].mean()
average_long
average=countries['longitude'].mean()
average

14.324579484333334

In [62]:
# YOUR CODE HERE
countries[countries['longitude'] > average_long]
countries[countries['longitude']> average]

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682
5,cz,CZ,eu,Czech Republic,R√©publique tch√®que,Tschechische Republik,49.803531,15.474998
7,ee,EE,eu,Estonia,Estonie,Estland,58.592469,25.806950
8,fi,FI,eu,Finland,Finlande,Finnland,64.950159,26.067564
11,gr,GR,eu,Greece,Gr√®ce,Griechenland,39.698467,21.577256
12,hu,HU,eu,Hungary,Hongrie,Ungarn,47.161163,19.504265
15,lv,LV,eu,Latvia,Lettonie,Lettland,56.880117,24.606555
16,lt,LT,eu,Lithuania,Lituanie,Litauen,55.173687,23.943168
18,mt,MT,eu,Malta,Malte,Malta,35.902422,14.447461
21,pl,PL,eu,Poland,Pologne,Polen,51.918907,19.134334
23,ro,RO,eu,Romania,Roumanie,Rum√§nien,45.942611,24.990152
24,sk,SK,eu,Slovakia,Slovaquie,Slowakei,48.672644,19.700032
25,si,SI,eu,Slovenia,Slov√©nie,Slowenien,46.149259,14.986617
27,se,SE,eu,Sweden,Su√®de,Schweden,62.198467,14.896307
28,tr,TR,non-eu,Turkey,Turquie,T√ºrkei,38.952942,35.439795

<a id='demo'></a>
# üé¨ Demo: Boolean Indexing with multiple conditions
We won't have a challenge on this topic, but it's useful to know that we can boolean index using as many logical tests as we want by wrapping each test in parenthesis (`()`)and by using the AND operator (`&`) or the OR operator (`|`)

In [ ]:
# Select the countries with longitude greater than 25 but less than 30
countries[(countries['longitude'] > 25) & (countries['longitude'] < 30)]

In [ ]:
# Select the countries with longitude greater than 25 but less than 30
countries[(countries['longitude'] > 30) | (countries['longitude'] < 0)]